

.container{
    text-align: center;
    margin: 0 auto;
}



/*main headline's css starts here*/
.main-headline{
    text-align: center;
    color: rgb(253, 115, 138);
}

.main-headline span{
    color:grey;
    opacity: 0.6;

}


/*main headline's css ends here*/




/*box 1 css starts here*/

details{
    border: 1px solid black;
    padding: 20px;
    margin: 20px 20px;
}

details:hover{
    cursor:pointer;
}

summary{
    display: flex;
    justify-content: space-between;
}

.standard-price{
    font-weight: 400;
    font-size: 20px;

}


label,select,option{
    padding: 5px;
    margin: 7px;
}


h2{
    font-weight: bold;
}

.discount-text-highlight{
    color: white;
    background-color: rgb(253, 115, 138);
    padding: 5px;
}

details:hover{
    border: 4px solid rgb(136, 38, 54);
}

.t{
    text-align: center;
}

.sub-labels{
    display: flex;
    justify-content: space-around;
}

.hidden-box{
    display: flex;
    justify-content: space-around;
}

del{
    opacity: 0.5;
}


/*box 1 css ends here*/



/*box 2 css starts here*/


.hidden-box-2-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.badge{
    text-align: center;
    width: 25%;
    padding: 10px;
    position: absolute;
    top: 240px;
    right: 40px;
    background-color: rgb(253, 115, 138);
    color: white;
    z-index:1;
    
  }





/*box 2 css ends here*/




/*box 3 css starts here*/

.hidden-box-3-sections{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*box 3 css ends here*/





/*bottom end section's CSS starts here*/

.section-4{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.section-4 h3{
    color:rgb(253, 115, 138);
    font-weight: 700;
    font-size: 20px;

}

.section-4 h4{
    font-weight: 600;
    font-size: 20px;

}

.add-to-cart-button{
    display: block;
    text-align: center;

}

.add-to-cart-button .button{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color:white;
    background-color: rgb(192, 76, 95);
    width: 80%;
    border-radius:20px;
    cursor: pointer;

}

/*bootm end section's CSS ends here*/



/*lowest screen size 353 assumed*/

/*media queries starts here*/

@media screen and (min-device-width: 560px) and (max-device-width: 760px) { 

    .badge{
        text-align: center;
        width: 20%;
        padding: 10px;
        position: absolute;
        top: 240px;
        right: 40px;
        background-color: rgb(253, 115, 138);
        color: white;
        z-index:1;
        
      }


    
}

@media screen and (min-device-width: 496px) and (max-device-width: 630px) {


    .main-headline{
        font-size:22px;
      }


      *{
        font-size:14px;
    }
    
    
    .badge{
        text-align: center;
        width: 19%;
        padding: 5px;
        position: absolute;
        top: 210px;
        right: 40px;
        background-color: rgb(253, 115, 138);
        color: white;
        z-index:1;
        
      }


}


@media screen and (min-device-width: 440px) and (max-device-width: 496px) {


    .main-headline{
        font-size:20px;
      }

    *{
        font-size:16px;
    }
    
    
    .badge{
        text-align: center;
        width: 20%;
        padding: 5px;
        position: absolute;
        top: 210px;
        right: 40px;
        background-color: rgb(253, 115, 138);
        color: white;
        z-index:1;
        
      }

}





@media screen and (min-device-width: 100px) and (max-device-width: 439px) {


    .standard-price{
        font-size: 7px;
    
    }

    .section-4{
        font-size: 7px;

    }

    .button{
        font-size: 7px;

    }


    *{
        font-size:14px;
    }

    .main-headline{
        font-size:14px;
      }

      .standard-price{
        font-size: 15px;
    
    }

      .badge{
        text-align: center;
        width: 25%;
        padding: 5px;
        position: absolute;
        top: 170px;
        right: 40px;
        background-color: rgb(253, 115, 138);
        color: white;
        z-index:1;
        
      }

}


/*media queries ends here*/








